
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">World News At It's Best
                    <small>Award Winning Coverage</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="http://bloximages.chicago2.vip.townnews.com/unionrecorder.com/content/tncms/assets/v3/editorial/3/9c/39c7f414-0018-11e6-b965-7bbf15b5c735/570bf5c9d0cb8.image.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3>Last Comments</h3>
                <% @comments.each do |comment| %>
                <ul>
                    <li><%= truncate(comment.body, length: 50) %> </li>
                </ul>
                <% end %>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <% @newsvilles.each do |news| %>
            <div class="panel panel-default col-md-3">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to news.title, news %></h3>
              </div>
              <div class="panel-body text-center">
                <%= image_tag ("#{news.image_url}"), class: "img-rounded" %>
              </div>
            </div>

            <% end %>

        </div>
        <!-- /.row -->

        <hr>
